.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1500px;
}
header {
  grid-column: span 5;
  text-align: center;
  background-color: #ddd;
}
.day {
  text-align: center;
  border-right: 1px solid #ddd;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
h2 {
  grid-column: span 2;
}
.workout {
  grid-column: span 1;
  border-right: 1px solid #ddd;
}
form {
  padding: 15px;
}
input {
  max-width: 158.4;
}
li {
  list-style-type: none;
  margin-right: 50px;
  padding-bottom: 15px;
}
